.mainDiv_skeletal {
    display: flex;
    flex-direction: column;
    margin: 30px;

    .top_skeletal {
        display: flex;
        justify-content: center;
        gap: 30px;

        .searchBarSkeleton {
            margin: 30px;
        }
        
        .dropDownBarSkeleton {
            margin: 30px;
            margin-bottom: 50px;
        }

    }


}

